@model IEnumerable<Luna.Recruitment.VisaProcessing.Data.DTO.ReportDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table width="100%" class="table table-responsive-md applyDataTableWithExport6" id="datatable">
    <thead>
        <tr>
            <th style="display:none">Id</th>
            <th style="display:none">visaProcessId</th>
            <th>File Number</th>
            <th>Name</th>
            <th>Passport</th>
            <th>Trade</th>
            <th>DocumentHandoverDate</th>
            <th>DateOfCloure</th>
            <th>Action</th>
            @*<th>Passport Recv</th>*@
            @*<th>Company</th>
                <th>Reference#</th>
                <th>Status</th>
                <th>Remarks</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="CandidateId" style="display:none">
                    <span>@item.Id</span>
                    @*<input type="text" value="@item.FileNumber" style="display:none" />*@
                </td>
                <td class="visaProcessId" style="display:none">
                    <span>@item.visaProcessId</span>
                    @*<input type="text" value="@item.FileNumber" style="display:none" />*@
                </td>
                <td class="FileNumber">
                    <span>@item.FileNumber</span>
                    @*<input type="text" value="@item.FileNumber" style="display:none" />*@
                </td>
                <td class="Name">
                    <span>@item.Name</span>
                    @*<input type="text" value="@item.Name" style="display:none" />*@
                </td>
                <td class="Passport">
                    <span>@item.Passport</span>
                    @*<input type="text" value="@item.Passport" style="display:none" />*@
                </td>
                <td class="Trade">
                    <span>@item.Trade</span>
                    @*<input type="text" value="@item.Trade" style="display:none" />*@
                </td>
                <td class="DocumentHandoverDate">
                    <span>@item.DocumentHandOverDate</span>
                    <input required type="date" value="@item.DocumentHandOverDate" style="display:none" />
                </td>
                <td class="DateOfCloure">
                    <span>@item.DateOfCloure</span>
                    <input required type="date" value="@item.DateOfCloure" style="display:none" />
                </td>
                <td>
                    <a class="btnEdit" href="javascript:;">Edit</a>
                    <a class="btnUpdateCloure" href="javascript:;" style="display:none">Update</a>
                    <a class="btnCancel" href="javascript:;" style="display:none">Cancel</a>
                    @*<a class="btnDelete" href="javascript:;">Delete</a>*@
                </td>
                @*<td>@item.PassportReceivingDate</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.Company)</td>
                    <td>@Html.DisplayFor(modelItem => item.Reference)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@item.StatusRemarks</td>*@

            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">

    $("body").on("click", "#updatedInfoMedical", function () {
        var row = $(this).closest("tr");
        Id = row.find(".CandidateId").find("span").html();
        var Obj = { id: Id };
        updatedCandidateInfo(Obj);
    });
    $('#updateInfoCandidate').click(function () {

        if (!$('#updatedPlaceOfBirthCountryId').val() || $('#updatedPlaceOfBirthCountryId').val() == 0) {
            alert("Please select a country.");
            return false;
        }
        if (!$('#updatedPlaceOfBirthCityId').val() || $('#updatedPlaceOfBirthCityId').val() == 0) {
            alert("Please select a city.");
            return false;
        }
        if (!$('#updatedDateOfBirth').val()) {
            alert("Please enter a date of birth.");
            return false;
        }
        updateCandidateInfo();
    });
    function AppendRowAfterInsertRecord(row, MedicalOnlineReceivingDate, MedicalOnlineReceivingDate) {

        $(".MedicalOnlineSendingDate", row).find("span").html(MedicalOnlineSendingDate);
        $(".MedicalOnlineSendingDate", row).find("input").val(MedicalOnlineSendingDate);
        $(".MedicalOnlineReceivingDate", row).find("span").html(BiometricReceivingDate);
        $(".MedicalOnlineReceivingDate", row).find("input").val(BiometricReceivingDate);
        debugger;
        row.find(".btnEdit").show();
        row.find(".btnDelete").show();
        $("#datatable").append(row);
    };

    //Edit event handler.
    $("body").on("click", "#datatable .btnEdit", function () {
        //debugger;
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".btnUpdateCloure").show();
        row.find(".btnCancel").show();
        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#datatable .btnUpdateCloure", function () {
        var row = $(this).closest("tr");
        if (row.find(".DateOfCloure").find("input").val().length == 0 ||
            row.find(".DocumentHandoverDate").find("input").val().length == 0) {
            alert('please fill the field');
            return false;
        }
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".btnEdit").show();
        //row.find(".btnDelete").show();
        row.find(".btnCancel").hide();
        $(this).hide();
        var Obj = {
            Id: row.find(".visaProcessId").find("span").html(),
            DateOfCloure: row.find(".DateOfCloure").find("span").html(),
            DocumentHandoverDate: row.find(".DocumentHandoverDate").find("span").html()
        };
        //if (!patientObj.Id || patientObj.Id <= 0) {
        //    alert(Id);
        //    alert("Invalid Id!");
        //    return false;
        //}
        FileNumber = row.find(".FileNumber").find("span").html();
        $.ajax({
            type: "POST",
            url: '/Reports/UpdateCaseCloureTab',
            data: Obj,
            dataType: "json",
            success: function (data) {
                toastr.success('Record update successfully.', "Alert");
                window.location.href = '/Reports/DeploymentForReloading?FileNumber=' + FileNumber;
                //$.ajax({
                //    type: "GET",
                //    url: '/Reports/TabReport',
                //    data: { FileNumber: row.find(".FileNumber").find("span").html() },
                //    dataType: "json",
                //    success: function (data) {
                //        //('#datatable')
                //    },
                //    error: function (errormsg) {
                //        toastr.success('Record update successfully.', "Alert");
                //    }
                //});
            },
            error: function (errormsg) {
                prompt("", JSON.stringify(errormsg));
            }
        });
        $(this).closest('tr').remove();


        ////$.ajax({
        //    type: "POST",
        //    data: JSON.stringify(Obj),
        //    url: '/Reports/UpdateVisaProcess',
        //    contentType: 'application/json',
        //    dataType: 'json',
        //    success: function (result) {
        //        ClearAllInput();
        //    },
        //    error: function (errormessage) {
        //        alert(errormessage.responseText);
        //    }
        //    error: function (errormsg) {
        //        prompt("", JSON.stringify(errormsg))
        //    }
        //});
    });

    //Cancel event handler.
    $("body").on("click", "#datatable .btnCancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".btnEdit").show();
        row.find(".btnDelete").show();
        row.find(".btnUpdateTravel").hide();
        $(this).hide();
    });

        ////Delete event handler.
        //$("body").on("click", "#datatable .btnDelete", function () {
        //    if (confirm("Do you want to delete this row?")) {
        //        var row = $(this).closest("tr");
        //        var FileNumber = row.find("span").html();
        //        $.ajax({
        //            url: "/Reports/DeletePatient?FileNumber=" + FileNumber,
        //            type: "POST",
        //            contentType: "application/json;charset=UTF-8",
        //            dataType: "json",
        //            success: function (response) {
        //                if ($("#datatable tr").length > 2) {
        //                    row.remove();
        //                } else {
        //                    row.find(".btnEdit").hide();
        //                    row.find(".btnDelete").hide();
        //                    row.find("span").html(' ');
        //                }
        //            }
        //        });
        //    }
        //});
</script>