@model Luna.Recruitment.VisaProcessing.Data.Models.VisaProcess

@{
    ViewData["Title"] = "Visa Processing";
    string userInfo = "";
    if (@Model.CandidateSelectionDetail.CandidateProfile.Passport != null && @Model.CandidateSelectionDetail.CandidateProfile.Passport.Count() > 0)
    {
        @(userInfo = "Visa Process     |      " + Model.CandidateSelectionDetail.CandidateProfile.FirstName + " "+ @Model.CandidateSelectionDetail.CandidateProfile.LastName + " ("+@Model.CandidateSelectionDetail.CandidateProfile.Passport.First().PassportNo +")")
    }
    else
    {
        @( userInfo = "Visa Process     |      " + Model.CandidateSelectionDetail.CandidateProfile.FirstName + " " + @Model.CandidateSelectionDetail.CandidateProfile.LastName)
    }
}


<h1>@userInfo</h1>

<hr />
<h5>
    @*<a asp-controller="Permission" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="ChallanForm">Challan Form</a> |
        <a asp-controller="Permission" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="Form7">Form 7</a> |*@
    <a asp-controller="Permission" target="_blank" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="VisaFormKhi">Visa Form (KHI)</a>|
    <a asp-controller="Permission" target="_blank" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="VisaFormIsb">Visa Form (ISB)</a>|
    <a asp-controller="Permission" target="_blank" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="Agreement">Agreement</a>|
    <a asp-controller="Permission" target="_blank" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="Registration">Registration Through OEP</a>|
    <a asp-controller="Permission" target="_blank" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="Undertaking3">Undertaking For Luna</a>|
    <a asp-controller="Permission" target="_blank" asp-action="Report" asp-route-OEPVisaDemandId="@Model.CandidateSelectionDetail.CandidateProfileId" asp-route-report="Contract">Contract Letter</a>
    @if (Model.Id != 0 && Model.Id > 0)
    {
        <span class="badge badge-info">Update</span>
    }
    else
    {
        <span class="badge badge-info">New</span>
    }
</h5>



<form id="frmVisaProcess" asp-controller="CandidateSelection" asp-action="VisaProcess" asp-route-calledFrom="@ViewBag.ActionName">
    <span id="selectionConsumedId" class="text-danger"></span>
    <span id="selectionQtyId" class="text-danger"></span>
    <div class="row">

        <div class="col-md-6">
            <input type="hidden" id="proceesingStartDa" value="@ViewBag.ProcessingStartDate" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" id="visaProcessPassport" value="@ViewBag.PassportNo"/>
            <input type="hidden" asp-for="CandidateSelectionDetailId" />
            <input type="hidden" id="fileConslate" value="RomaniaISB" />
            <input type="hidden" id="fileAge" />
            <input type="hidden" name="calledFrom" value="@ViewBag.ActionName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OepvisaDemandId" class="control-label">File Number</label>
                <select asp-for="OepvisaDemandId" class="form-control DDFilter" asp-items="ViewBag.OepvisaDemandId"></select>
                <span asp-validation-for="OepvisaDemandId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="VisaTradeEntitySetupId" class="control-label">Visa Trade</label>
                <select asp-for="VisaTradeEntitySetupId" class="form-control DDFilter" asp-items="@ViewBag.VisaTradeEntitySetupId"></select>
                <span asp-validation-for="VisaTradeEntitySetupId" class="text-danger"></span>
                <span id="lblVisaQuantity" class="text-danger"></span>
                <span id="lblExpiryDays" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ProcessingStartDate" class="control-label">Processing Start</label>
                <input type="date" asp-for="ProcessingStartDate" class="form-control" />
                <span asp-validation-for="ProcessingStartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @*previous label was Document Receiving*@
                <label asp-for="DocumentReceivingDate" class="control-label">Visa Stamping</label>
                <input type="date" asp-for="DocumentReceivingDate" class="form-control" />
                <span asp-validation-for="DocumentReceivingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MedicalOnlineSendingDate" class="control-label">Medical Sending</label>
                <input type="date" asp-for="MedicalOnlineSendingDate" class="form-control" />
                <span asp-validation-for="MedicalOnlineSendingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MedicalOnlineReceivingDate" class="control-label">Medical Receiving</label>
                <input type="date" asp-for="MedicalOnlineReceivingDate" class="form-control" />
                <span asp-validation-for="MedicalOnlineReceivingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BiometricSendingDate" class="control-label">Biometric Sending</label>
                <input type="date" asp-for="BiometricSendingDate" class="form-control" />
                <span asp-validation-for="BiometricSendingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BiometricReceivingDate" class="control-label">Biometric Receiving</label>
                <input type="date" asp-for="BiometricReceivingDate" class="form-control" />
                <span asp-validation-for="BiometricReceivingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Enumber" class="control-label">E-Number</label>
                <input type="text" asp-for="Enumber" class="form-control" />
                <span asp-validation-for="Enumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EnumberDate" class="control-label">E-Number Date</label>
                <input type="date" asp-for="EnumberDate" class="form-control" />
                <span asp-validation-for="EnumberDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PassportSubmissionDate" class="control-label">Passport Submission</label>
                <input type="date" asp-for="PassportSubmissionDate" class="form-control" />
                <span asp-validation-for="PassportSubmissionDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PassportReceivingDate" class="control-label">Passport Receiving</label>
                <input type="date" asp-for="PassportReceivingDate" class="form-control" />
                <span asp-validation-for="PassportReceivingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Registration Number</label>
                <input type="text" asp-for="RegistrationNumber" readonly class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Registration Date</label>
                <input type="date" asp-for="RegistrationDate" readonly class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Departure Date</label>
                <input type="datetime" asp-for="DepartureDate1" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Arrivate Date</label>
                <input type="datetime" asp-for="ArrivalDate1" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Flight Number</label>
                <input type="text" asp-for="FlightNumber1" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Ticket Number</label>
                <input type="date" asp-for="TicketNumber1" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Sector 1</label>
                <select asp-for="Sector1To" class="form-control DDFilter" asp-items="ViewBag.Sector1To"></select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="Sector1To" class="form-control DDFilter" asp-items="ViewBag.Sector1To"></select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Departure Date 2</label>
                <input type="datetime" asp-for="DepartureDate2" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Arrivate Date 2</label>
                <input type="datetime" asp-for="ArrivalDate2" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Flight Number 2</label>
                <input type="text" asp-for="FlightNumber2" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Ticket Number 2</label>
                <input type="date" asp-for="TicketNumber2" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Sector 2</label>
                <select asp-for="Sector2From" class="form-control DDFilter" asp-items="ViewBag.Sector2From"></select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="Sector2To" class="form-control DDFilter" asp-items="ViewBag.Sector2To"></select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Departure Date 3</label>
                <input type="datetime" asp-for="DepartureDate3" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Arrivate Date 3</label>
                <input type="datetime" asp-for="ArrivalDate3" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Flight Number 3</label>
                <input type="text" asp-for="FlightNumber3" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Ticket Number 3</label>
                <input type="text" asp-for="TicketNumber3" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label">Sector 3</label>
                <select asp-for="Sector3From" class="form-control DDFilter" asp-items="ViewBag.Sector3From"></select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6" style="display:none;">
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="Sector3To" class="form-control DDFilter" asp-items="ViewBag.Sector3To"></select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StatusEntitySetupId" class="control-label">Status</label>
                <select asp-for="StatusEntitySetupId" class="form-control DDFilter" asp-items="ViewBag.StatusEntitySetupId"></select>
                <span asp-validation-for="StatusEntitySetupId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Visa Serial#</label>
                <input type="number" asp-for="VisisSerialNumber" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StatusRemarks" class="control-label">Remarks</label>
                <textarea rows="10" cols="30" asp-for="StatusRemarks" class="form-control"></textarea>
                <span asp-validation-for="StatusRemarks" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-12 float-right">
                &nbsp; &nbsp;
                <input type="submit" value="Save" class="btn btn-primary float-right" /> &nbsp; &nbsp;
                <a asp-action="Index" asp-controller="CandidateProfile" class="btn btn-info float-right">Back To List</a>
                &nbsp; &nbsp;

            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script charset="utf-8" type="text/javascript">
        $(document).ready(function () {

            var passportNo = $('#visaProcessPassport').val();
            $.getJSON('/OEPVisaDemand/GetConslate/")', { oepVisaDemandCode: $('#OepvisaDemandId').val(), passportNo: passportNo }, function (data) {
                console.log(data);
                $('#fileConslate').val(data.conslateName);
                $('#fileAge').val(data.age);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error getting visa trades!');
            });
            $("#frmVisaProcess").removeAttr("novalidate");

            function tradePresent() {
                oepVisaDemandId = $('#OepvisaDemandId').val();
                visaTradeEntitySetupId = $('#VisaTradeEntitySetupId').val();
                var status = "";
                $.getJSON('/OEPVisaDemand/tradePresent/")', { oepVisaDemandId: oepVisaDemandId, visaTradeEntitySetupId: visaTradeEntitySetupId }, function (data) {
                    console.log(data);
                    status = data.status;
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error getting visa trades!');
                });
                return status;
            }
            $('#OepvisaDemandId').change(function () {
                $('#VisaTradeEntitySetupId option').remove();
                $('#VisaTradeEntitySetupId').append('<option value=""> Loading . . . </option>');
                $.getJSON('/OEPVisaDemand/GetJobsByDemandId/")', { oepVisaDemandId: $('#OepvisaDemandId').val() }, function (data) {
                    $('#VisaTradeEntitySetupId option').remove();
                    $('#VisaTradeEntitySetupId').append('<option value="0" selected>-- Select Visa Trade --</option>');
                    $.each(data, function () {
                        $('#VisaTradeEntitySetupId').append('<option value=' + this.id + '>' + this.name + '</b></option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error getting visa trades!');
                });

            });
        $.getJSON('/OEPVisaDemand/GetJobsByDemandId', { oepVisaDemandId: @Model.OepvisaDemandId}, function (data) {
            $('#VisaTradeEntitySetupId option').remove();
            $('#VisaTradeEntitySetupId').append('<option value="0">-- Select Visa Trade --</option>');
            $.each(data, function () {
                $('#VisaTradeEntitySetupId').append('<option value=' + this.id + '>' + this.name + '</option>');
            });
            $('#VisaTradeEntitySetupId').val(@Model.VisaTradeEntitySetupId);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert('Error getting visa trades!');
        });


            @*
        $('#OepvisaDemandId').change(function () {
            $('#VisaTradeEntitySetupId option').remove();
            $('#VisaTradeEntitySetupId').append('<option value=""> Loading . . . </option>');
            $.getJSON('/OEPVisaDemand/GetJobsByDemandId/")', { oepVisaDemandId: $('#OepvisaDemandId').val() }, function (data) {
                $('#VisaTradeEntitySetupId option').remove();
                $('#VisaTradeEntitySetupId').append('<option value="0" selected>-- Select Visa Trade --</option>');
                $.each(data, function () {
                    $('#VisaTradeEntitySetupId').append('<option value=' + this.id + '>' + this.name + '</b></option>');
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error getting visa trades!');
            });
        });
                *@
            var balance;
            var expiryDay;
            var selectedCandidate;
            var selectionLimit;
            $("#frmVisaProcess").submit(function () {
                let age = parseInt($('#fileAge').val());
                if ($('#fileConslate').val() != 'RomaniaISB') {
                    if (age > 20) {
                    }
                    else
                    {
                        alert('age should be greater than 21 and less than 60');
                        return false;
                    }
                }
                else {
                    if (age > 18) {
                    }
                    else {
                        alert('age should be greater than 18 and less than 60');
                        return false;
                    }
                }
                console.log(selectionLimit)
                console.log(selectedCandidate)
                if (balance == 0) {
                    //var status = tradePresent();
                    //alert(status);
                    alert("visa Trade Limit is 0")
                    return false;
                }
                else if (selectionLimit == null) {
                    return true
                }
                else {
                    if ($('#OepvisaDemandId').val() != '95') {
                        if (selectionLimit <= selectedCandidate && balance) {
                            alert('Candidate Selected is greater than Visa Trade Limit value');
                            return false;
                        }
                    }
                }

            });
        $('#VisaTradeEntitySetupId').change(function () {
            $.getJSON('/OEPVisaDemand/VisaQuantity/', { oepVisaDemandId: $('#OepvisaDemandId').val(), visaTradeEntitySetupId: $('#VisaTradeEntitySetupId').val() }, function (data) {
                console.log(data);
                balance;
                expiryDay;
                $("#lblVisaQuantity").text("VISA TRADE LIMIT: " + data.balance);
                $("#lblExpiryDays").text("Expiry Date: " + data.expiryDay);
                balance = data.balance;
                expiryDay = data.expiryDay;
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error getting available visa quantity!');
            });
        });
            $(document).ready(function () {
                $.getJSON('/CandidateSelection/SelectionQuantity/', { sponsorId:@Model.CandidateSelectionDetailId}, function (data) {
                    if (data.selectionQty == null) {
                        $("#selectionQtyId").text("Candidate(s) Selected: " + data.selectionQtyCount[0].selectionTradeCount);
                        $("#selectionConsumedId").text("Selection Trade Limit: " + "N/A");
                        selectionLimit = data.selectionQty;
                        selectedCandidate = data.selectionQtyCount[0].selectionTradeCount
                    }
                    else {
                        $("#selectionQtyId").text("Candidate(s) Selected: " + data.selectionQtyCount[0].selectionTradeCount);
                        $("#selectionConsumedId").text("Selection Trade Limit: " + data.selectionQty.selectionQty);
                        selectionLimit = data.selectionQty.selectionQty;
                        selectedCandidate = data.selectionQtyCount[0].selectionTradeCount
                    }

                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error getting available visa quantity!');
                });
            });
            @*
        $("#btnDelete").on("click", function () {
            var input = confirm('Are you sure to delete?');
            if (input) {
                $.getJSON('/CandidateSelection/DeleteVisaProcess/'), { VisaProcessId: $('#Id').val() }, function (data) {
                    alert($('#Id').val());
                }
            }
        });*@
        });
    </script>
}
