@model IEnumerable<Luna.Recruitment.VisaProcessing.Data.Models.Sponser>

@{
    ViewData["Title"] = "Manage Sponsers";
}

<h1>Manage Sponsers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table  applyDataTable">
    <thead>
        <tr>
            <th>Sponser ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-bars"></i></a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
